body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:  20px;
}

.container{
background-color: aqua;
}

.board{
    display: grid;
    grid-template-columns: repeat(8,50px);
    grid-template-rows: repeat(8,50px);
    margin: 20px auto;
}